<%- include('./partials/head') %>

<nav>
  <img src="/assets/fdnd.jpeg" alt="" />
</nav>

<main>
  <div class="page">
    <div class="text">
      <h1></h1>
      <details>
        <summary>Codeer taal</summary>
        <ul>
          <li>HTMl</li>
          <li>CSS</li>
          <li>JS</li>
        </ul>
      </details>
    </div>
    <div class="overview">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</main>

<%- include('./partials/foot') %>
