* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-colour: #123155;
  --indian-colour: #e5625e;
  --battleship-colour: #7a918d;
  --seashell-colour: #fff3f0;
  --light-colour: #f2d0a9;
  --border-radius: 0.6rem;
}

body {
  background-color: var(--background-colour);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

nav {
  background-color: var(--light-colour);
  height: 5rem;
}

main {
  width: 100%;
  margin-top: 3rem;
}

.page {
  width: 70%;
  margin: 0 auto;
}

.text {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.text h1 {
  border: inset 1px #fff;
  height: 4vh;
  width: 20%;
}

details {
  transition: 0.4s;
}

li {
  list-style: none;
}

.overview {
  border-radius: var(--border-radius);
  border: inset var(--light-colour);
  border-width: 2px 2px 0 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 100%;
}

.card {
  background-color: var(--indian-colour);
  border-radius: var(--border-radius);
  transition: 0.4s;
  width: 16rem;
  height: 24rem;
}

.card:hover {
  scale: 1.05;
  transition: 0.4s;
}
